.nilai {
    background-color: #fff;
}

.wrapper {
    flex-direction: column;
    margin-top: 50px;
}

.title {
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}

.tabel {
    border: 1px solid #808080;
    width: 100%;
    border-collapse: collapse;
}

.tabel td, .tabel th {
    border: 1px solid #000;
    padding: 15px 20px;
}

.tabel th {
    background: #808080;
    columns: #fff;
}

.tabel td {
    text-align: center;
}